<html>
	<head>
		<title>register</title>
	</head>
	<body>
		<h1>注册</h1>
		<label>firstName</label>
		<input type="text" name="firstName"/></br>
		<label>lastName</label>
		<input type="text" name="lastName"/></br>
		<label>username</label>
		<input type="text" name="lastName"/></br>
		<label>password</label>
		<input type="text" name="password"/></br>
		<label>repassword</label>
		<input type="text" name="repassword"/></br>
		<label>Email</label>
		<input type="text" name="email"/></br>
		<label>phone</label>
		<input type="text" name="phone"/></br>
		<label>address</label>
		<input type="text" name="address"/></br>
		<input type="submit" name="register" value="登录">
	</body>

</html>
